<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">Balloons</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('celebration_index') }}">Celebrations</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav">
                {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('balloon_index') }}">Balloons</a>
                            <a class="dropdown-item" href="{{ path('supplier_index') }}">Suppliers</a>
                            <a class="dropdown-item" href="{{ path('location_index') }}">Locations</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Dropdowns</h6>
                            <a class="dropdown-item" href="{{ path('color_index') }}">Colors</a>
                            <a class="dropdown-item" href="{{ path('color_type_index') }}">Color types</a>
                            <a class="dropdown-item" href="{{ path('diameter_index') }}">Diameters</a>
                            <a class="dropdown-item" href="{{ path('material_index') }}">Materials</a>
                            <a class="dropdown-item" href="{{ path('print_type_index') }}">Print types</a>
                            <a class="dropdown-item" href="{{ path('shape_index') }}">Shapes</a>
                            <a class="dropdown-item" href="{{ path('country_index') }}">Countries</a>
                            <a class="dropdown-item" href="{{ path('location_type_index') }}">Location types</a>
                            <a class="dropdown-item" href="{{ path('celebration_type_index') }}">Celebration types</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-secondary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {#<a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profile</a>#}
                            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
                            <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">Change Password</a>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">
                            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>